<div class="app">
  <header class="app__header">
    <h1 class="header-title">Country directory</h1>
    <p class="header-text">Find your country to see more about it</p>
  </header>
  <main class="app__main">
    <app-countries-list></app-countries-list>
  </main>
  <footer class="app__footer">
    <p className="footer-text">Developed by <a className="footer-github" href="https://github.com/alexandrajaramz/ecoscooting-alexandra-jara" target="_blank" rel="noopener noreferrer">Alexandra Jara</a></p>
  </footer>
</div>
